<header>
    <img src="assets/img/bruno_130x130.jpg" alt="Bruno Pires - Foto de perfil" width="130px" heigth="130px"
        loading="eager">
    <h1>Bruno Pires</h1>
</header>

<aside>
    <div class="container">
        <p>Desenvolvedor Web Frontend | Angular | HTML | CSS3 | JavaScript | TypeScript</p>
        <p>Osasco, São Paulo, Brasil</p>
        <p>Desenvolvedor web com sólida experiência em desenvolvimento Front-end e práticas de DevOps.</p>
    </div>

    <nav>
        <ul>
            <li>
                <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn_primary">
                    Download Cv
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/devbrunopires/" target="_blank" class="btn btn_secundary">
                    LinkedIn
                </a>
            </li>
        </ul>
    </nav>
    <nav>
        <section>
            <figure>
                <img src="assets/icon/whatsapp.svg" alt="Ícone para contato do whatsapp" width="22px" height="24px">

                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5511940118950&text=Ol%C3%A1%20Bruno,%20preciso%20de%20um%20job!"
                        target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: (11) 9 4011-8950</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="assets/icon/mail.svg" alt="Ícone para contato do e-mail" width="22px" height="24px">

                <figcaption>
                    <a href="mailto:brunop.andreu@gmail.com" target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>brunop.andreu&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </nav>
</aside>